html {
    font-size: 15px;
}

body {
    margin: 0;
    min-height: 600px;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #3D3D3D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* general
============================================================== */

.container {
    margin: 0 auto;
    width: 1200px;
}

.link {
    text-decoration: none;
    color: #575599;

    cursor: pointer;
    transition: color .2s linear;
}

.link:hover {
    color: #617bf3;
}

.placeholder {
    display: flex;
    width: auto;
    height: 100%;
    margin-left: -1rem;

    font-size: 2em;
    font-weight: 400;
    color: #5e5e5e;

    background-color: #fff9eb;

    justify-content: center;
    align-items: center;
}

/* contacts
============================================================== */

.breadcrumbs {
    margin: 1rem 0;
}

.breadcrumbs__link {
    font-size: 13px;
    color: #00000080;
}

.breadcrumbs__item {
    display: inline;
}

.breadcrumbs__item +
.breadcrumbs__item::before {
    content: "";

    display: inline-block;
    margin: 0 .5rem;
    width: 5px;
    height: 5px;

    background-color: #00000080;
    border-radius: 50%;

    vertical-align: middle;
}

/* contacts__main
============================================================== */

.contacts__main,
.contacts__shop {
    padding-bottom: 2rem;

    border-bottom: 1px solid #969696;
}

.contacts__title {
    font-size: 30px;
    font-weight: 400;

    color: #000000bf;
}

.contacts__grid-row {
    display: flex;
    margin: 0 -1rem;
}

.contacts__grid-item {
    padding: 0 1rem;

    flex: 1 1 50%;
}

.contacts__main-content {
    margin-top: 2rem;

    line-height: 1.5;
    font-size: 17px;
    color: #404040
}

.contacts__main-mail-caption,
.contacts__main-tel-caption {
    font-size: 14px;
}

.contacts__main-addresses {
    margin-top: 2rem;
}

.contacts__metro {
    position: relative;

    margin-left: 1rem;
}

.contacts__metro::before {
    position: absolute;
    top: 50%;
    right: 100%;

    display: inline-block;
    margin-right: 5px;
    margin-top: -2.5px;

    content: "";
    width: 5px;
    height: 5px;

    border-radius: 50%;
}

.contacts__metro_blue::before { background-color: #4685fa; }

.contacts__metro_red::before { background-color: #fa5246; }

.contacts__metro_purple::before { background-color: #9a46fa; }

.contacts__main-social {
    padding: 1.5rem 2rem;
    height: 100%;

    color: #000;

    background-color: #fff9eb;
}

.contacts__main-social-caption {
    font-size: 20px;
}

.contacts__main-social-desc {
    margin-top: 1rem;

    font-size: 14px;
}

.contacts__main-social-links {
    margin-top: 1.5rem;
}

.contacts__social-link {
    display: inline-block;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: #fde8b7;

    transition: background .2s;
}

.contacts__social-link:hover {
    background-color: #ffd87e;
}

.contacts__social-link +
.contacts__social-link {
    margin-left: 1rem;
}

/* contacts__shop
============================================================== */

.contacts__shop {
    margin-top: 2rem;
}

.contacts__shop-content {
    line-height: 1.5;
    font-size: 14px;
    color: #000;
}

.contacts__shop-title {
    margin: 1rem 0;

    font-size: 24px;
}

.contacts__shop-time-to {
    color: #636363;
}

.contacts__shop-time-to::before {
    content: "–";

    padding: 0 .5rem;
}

.contacts__shop-info {
    margin-top: 1rem;
}

.contacts__shop-contact {
    flex-basis: 35%;
}

.contacts__shop-contact-caption,
.contacts__shop-worktime-caption {
    padding-bottom: .2rem;

    font-size: 17px;
}

.contacts__shop-contact-label {
    display: inline-block;

    width: 3rem;
}

.contacts__shop-woktime-time {
    display: inline-block;
}

.contacts__shop-desc {
    margin: 1rem 0;

    color: #636363;
}

.contacts__shop-previews {
    margin: 3rem -.5rem 0;
    padding-right: 2rem;
}

.contacts__shop-preview {
    padding: 0 .5rem;

    flex-basis: calc(100% / 6);
}

.contacts__shop-preview-link::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.contacts__shop-preview-link {
    display: flex;

    text-align: center;
    font-size: 12px;
    color: #000;

    background-color: #fde8b7;

    justify-content: center;
    align-items: center;

}

.contacts__shop-preview-link:hover {
    color: #000;
    background-color: #fff9eb;
}

.contacts__shop-managers {
    margin-top: 2rem;

    font-size: 14px;
    line-height: 1.5;
    color: #000;
}

.contacts__shop-managers-arrow-wrapper {
    flex: 0 1 300px;
}

.contacts__shop-managers-arrow {
    position: relative;

    display: flex;
    padding: 2rem;
    height: 100px;

    font-size: 17px;

    background-color: #fffaef;

    align-items: center;
}

.contacts__shop-managers-arrow::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 40px 50px 0;
    border-color: transparent #fff transparent transparent;
}

.contacts__shop-managers-arrow::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 0 50px 40px;
    border-color: transparent transparent #fff transparent;
}

.contacts__shop-managers-cards {
    margin: 0 -.5rem;

    align-items: center;

    flex: 1 1 auto;
}

.contacts__shop-manager-card {
    padding: 0 .5rem;

    flex: 0 1 calc(100% / 3);
}

.contacts__shop-manager-photo {
    display: inline-block;

    width: 90px;
    height: 90px;

    background-color: #fde8b7;
    border-radius: 50%;

    vertical-align: top;
}

.contacts__shop-manager-info {
    display: inline-flex;
    margin-left: 1rem;
    height: 90px;

    flex-direction: column;
    justify-content: center;
}

.contacts__shop-manager-name {
    font-size: 17px;
}

/* contacts__details
============================================================== */

.contacts__details {
    margin: 2rem -1rem;
}

.contacts__details-title {
    margin: .5em 0;

    font-size: 24px;
    color: #000;
}

.contacts__details-subtitle {
    margin: .5em 0;

    font-size: 20px;
    color: #000;
}

.contacts__details-list {
    font-size: 14px;
    line-height: 1.75;
}

.contacts__details-list dt {
    float: left;

    width: 5rem;

    color: #000;
}

.contacts__details-list dd {
    color: #636363;
}

.contacts__feedback-field {
    display: block;

    margin-bottom: 1rem;
}

.contacts__feedback-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: .65em 1.5em;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #212121;

    box-shadow: 0 0 0 1px #bdbdbd inset;
    border: none;
    border-radius: 3px;

    transition-duration: .2s;
}

.contacts__feedback-input:focus {
    outline: none;
    box-shadow: 0 0 3px #617bf3, 0 0 0 1px #575599 inset;
}

.contacts__feedback-input_message {
    height: 4rem;

    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212121;

    resize: vertical;
}

.contacts__feedback-label {
    display: block;
    margin: .5rem 0;

    font-size: 13px;
    color: #000;
}

.contacts__feedback-required {
    margin: .5em 0;

    color: #9e9e9e;
}

.contacts__feedback-required:before,
.contacts__feedback-label_required:before {
    content: "*";
    padding: 0 .25em;

    color: rgb(218, 39, 39);

    vertical-align: top;
}

.contacts__feedback-label_required {
    position: relative;
}

.contacts__feedback-label_required:before {
    position: absolute;
    top: -.2em;
    left: -1em;

    font-size: 14px;
}

.contacts__feedback-agree {
    margin: .5em 0;

    font-size: 14px;
    color: #212121;
}

.checkbox__label {
    display: block;
    margin: 0;

    user-select: none;
}

.checkbox__input {
    position: absolute;

    width: 0;
    height: 0;

    appearance: none;
    opacity: 0;
}

.checkbox__text {
    position: relative;

    display: block;
    padding-left: 1.5em;

    transition: color .2s;
}

.checkbox__input:not(:disabled) + .checkbox__text:hover {
    cursor: pointer;
}

.checkbox__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 1em;
    height: 1em;

    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 25%;

    transition: background-color .2s linear, border-color .2s linear;
}

.checkbox__text::after {
    content: "\2714";
    position: absolute;
    left: .1em;
    top: .1em;

    line-height: 1;

    opacity: 0;
    transition: .2s;
    transform: translate(0, -20%);
}

.checkbox__input:checked + .checkbox__text {
    color: #617bf3;
}

.checkbox__input:checked + .checkbox__text::after {
    opacity: 1;
    color: rgba(0, 0, 0, .7);
    transform: none;
}

.checkbox__input:not(:disabled):not(:checked) + .checkbox__text:hover {
    color: #617bf3;
}

.checkbox__input:not(:disabled):not(:checked) + .checkbox__text:hover::before,
.checkbox__input:not(:disabled):not(:checked).checkbox__input:focus + .checkbox__text::before {
    background-color: #ffefc0;
}

.contacts__feedback-button {
    float: right;
}

.form__submit {
    padding: .9em 2.6em;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;

    border: none;
    border-radius: 3px;
    background-color: #5cd24e;

    cursor: pointer;
}

.form__submit:hover {
    background-color: #43c933;
}

